
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="css/admin.css"/>
  </head>
  <body>
    <nav class="menu">
      <ol>
        <li class="menu-item"><a href="/feed">Feed</a></li>
        <li class="menu-item"><a href="/admin/users">Usuários</a></li>
        <li class="menu-item"><a href="/admin/postagens">Postagens</a></li>
        <li class="menu-item"><a href="/admin/denuncias">Denuncias</a></li>
        <li class="menu-item"><a href="/admin/mensagens">Mensagens</a></li>
      </ol>
    </nav>

  </body>
</html>
