<html>
  <head>
  <title>Pagina Inicial</title>
  <link rel="stylesheet" type="text/css" href="estilo.css"/>
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
  <div class="wallpaper">
  <div class="wallpaper_rgba">
  <h1>Social<span>City</span></h1>
  </div>
  </div>
  <div class="entrar">
  <a href="/loginform"><input type="submit" name="entrar" value="Entrar"></a>
  </div>
  </body>
</html>
